body {
  overflow-x: hidden;
}

.image {
  mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  opacity: 0.5 !important ;
}
.section-bg {
  background: #f5f8fd;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}
.margin {
  margin-left: 190px !important;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: black; /* Green */
  color: white !important;
}
.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.grow1 {
  transition: all 0.2s ease-in-out;
}
.grow1:hover {
  transform: scale(1.5);
}

.name {
  padding: 2rem 4rem;
  font-family: monospace;
  font-weight: bold;
  color: black;
  font-size: 2rem;
}

.name > h3 {
  text-shadow: 0 0 3px lightgrey, 0 0 6px lightgray, 0 0 12px lightgray;
}

*::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.5);
}


